@tailwind base;
* {
  scrollbar-width: 2px;
  scrollbar-color: hsl(var(--secondary)) hsl(var(--primary));
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: hsl(var(--secondary));
  border-radius: 5px;
  opacity: 0.3;
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary));
  border-radius: 5px;
  opacity: 0.3;
  border: 1px solid hsl(var(--primary));
}
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 58, 65%, 83%;
    --foreground: 187, 33%, 43%;

    --muted: 70, 20%, 68%;
    --muted-foreground: 187, 33%, 43%;

    --popover: 58, 65%, 83%;
    --popover-foreground: 187, 33%, 43%;

    --border: 93, 28%, 56%;
    --input: 93, 28%, 56%;

    --card: 58, 65%, 83%;
    --card-foreground: 187, 33%, 43%;

    --primary: 93, 28%, 56%;
    --primary-foreground: 58, 65%, 83%;

    --secondary: 70, 20%, 68%;
    --secondary-foreground: 187, 33%, 43%;

    --accent: 70, 20%, 68%;
    --accent-foreground: 187, 33%, 43%;

    --destructive: 187, 33%, 43%;
    --destructive-foreground: 58, 65%, 83%;

    --ring: 93, 28%, 56%;
  }

  .dark {
    --background: 187, 33%, 43%;
    --foreground: 58, 65%, 83%;

    --muted: 70, 20%, 68%;
    --muted-foreground: 58, 65%, 83%;

    --popover: 187, 33%, 43%;
    --popover-foreground: 58, 65%, 83%;

    --border: 93, 28%, 56%;
    --input: 93, 28%, 56%;

    --card: 187, 33%, 43%;
    --card-foreground: 58, 65%, 83%;

    --primary: 93, 28%, 56%;
    --primary-foreground: 187, 33%, 43%;

    --secondary: 70, 20%, 68%;
    --secondary-foreground: 58, 65%, 83%;

    --accent: 70, 20%, 68%;
    --accent-foreground: 58, 65%, 83%;

    --destructive: 58, 65%, 83%;
    --destructive-foreground: 187, 33%, 43%;

    --ring: 93, 28%, 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
